// ==========================================================================
// # Cheat - Hot fixes and quick code; needs cleaning up afterwards
// ==========================================================================

canvas {
  height: 100%;
  width: 100%;
  margin: 0;
}